body {
  background-color: white
}

p {
  font-size : 12pt;
 	color : black;
}

h1 {
 	font-size : 45pt;
 	color : blue;
}

text {
   font-family: "Courier New", Courier, monospace;
}

/* h1.wtf is different from .wtf h1*/
h1.wtf {
	color : blue;
}


/* ACTUAL CSS IN USE */
svg.canvas {
  border: 2px solid black;
  background: #ffeec8
}

/* .nodes is descendant selector*/
.nodes circle {
 	stroke: #fff;
 	stroke-width: 2px;
}

.links line {
  stroke-opacity: 0.8;
}

.links text {
  fill: #2C4050;
  font-size: 14;
}

.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 400px; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}
