body {
  background-color: white;
  margin: 50px;
}



/* general texts */
p, span, input[type="text"], h1, h2, label, form {
  font-family: "Lato", sans-serif;
  font-weight: lighter;
  font-size: 32px;
  color: black;
}
p {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}
h1 {
  font-weight: bolder;
  font-size: 64px;
}
h2 {
  font-weight: bolder;
  margin-bottom: 0.5em;
}
label, .checkboxes * {
  font-size: 20px;
}
input[type="checkbox"] {
  margin-right: 0.9em;
}

/* graphs */
svg.canvas {
  border: 2px solid black;
  background: #ffeec8;
}

/* .nodes is descendant selector*/
circle,
.nodes circle {
 	stroke: #666666;
 	stroke-width: 2px;
}
.hovered circle {
  stroke: #DBDBDB;
}
.clicked circle {
  fill: #001C44;
}

line,
.links line {
  stroke-opacity: 0.8;
}

text,
text {
  font-size: 14pt;
  font-family: "Courier New", Courier, monospace;
}
.hovered text {
  font-size: 20pt;
  font-weight: bold;
}

table th,
table td {
  padding: 15px;
  text-align: left;
  font-family: "Courier New", Courier, monospace;
  border: 1px solid black;
}

.infocontainer {
  margin-right: 100px;
  display: inline-block;
}

/* SLIDER */
.slidecontainer {
  width: 400px; /* Width of the outside container */
  margin-right: 100px;
  display: inline-block;
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 400px; /* Full-width */
  height: 24px; /* Specified height */
  background: #D3D3D3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 24px; /* Set a specific slider handle width */
  height: 24px; /* Slider handle height */
  background: #18354E; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 24px; /* Set a specific slider handle width */
  height: 24px; /* Slider handle height */
  background: #18354E; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.sliderticks {
  display: flex;
  justify-content: space-between;
  margin-left: 12px;
  margin-right: 12px;
}

.sliderticks p {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  background: #D3D3D3;
  width: 0px;
  height: 0px;
  line-height: 20px;
  margin-bottom: 20px;
  font-size: 20px;
}
