<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Capstone Project</title>
		<!--CSS-->
		<link href="{{ url_for('static', filename='stylesheet.css')}}" rel="stylesheet" type="text/css">
		<!--d3.js-->
		<script src="https://d3js.org/d3.v5.min.js"></script>
	</head>

	<body>
		<h1>Capstone Project - Network Visualization</h1>
		<div>
			{% if customerID %}
				Current ID: {{customerID}}<br>
			{% else %}
				Random initialize
			{% endif %}
			<form id="searchform" action ="/" method="POST">
				Customer ID:
				<input id="searchinput" type="text" name="customerID">
				<input type="submit" value="submit"><br>
				<br>
			</form>
		</div>
		<div class="menu">
			<div class="slidecontainer">
				<h2>Functions</h2>
				testing - Degree Slider (TODO: add the slider mark)
				<br/><input type="range" min="1" max="6" value="6" step="1" class="slider" id=degreeslider>
			</div>
			<input type="checkbox" id="showWeight"> Show Weight
		</div>
		<div class="info">
			<h2>Information Panel</h2>
			<br/><text id=degreeInfo></text>
			<br/><text id=customerInfo></text>
		</div>
		<svg id="viz">
		</svg>
	</body>

	<!--location to my script-->
	<script type="text/javascript" src="{{ url_for('static', filename='d3js_projects/simple_network.js')}}"></script>
	<!--script type="text/javascript" src="{{ url_for('static', filename='d3js_projects/sliders.js')}}"></script-->
	<script type="text/javascript">
		draw({{data|tojson}})
	</script>
	<!--script src="d3js_projects/ray.js"/script-->
</html>
