 p {
 	font-size : 48pt;
 	color : red;
}

 h1 {
 	font-size : 60pt;
 	color : green;
 }
/* h1.wtf is different from .wtf h1*/
h1.wtf {
	color : yellow;
}

/* .links is descendant selector*/
 .links line {
 	stroke : #999;
 	stroke-opacity: 0.6;
 }

 .nodes circle {
 	stroke: #fff;
 	stroke-width: 3px;
 }